{# Import the original template, required. #}
{% extends "blog-card-theme.html" %}

{# A macro to render a blog entry, required. #}
{% macro render_blog(title, description, time, url, page) -%}
<a href="{{ url }}">
    <div class="blog-override-post">
        <h3 class="blog-post-title">{{ title }}</h3>
        <div class="blog-post-extra">
            <b>{{ page.meta["author"] + " · " if "author" in page.meta else "" }}</b>
            <span>{{ time }}</span>
        </div>
        {% if show_tags and "tags" in page.meta %}
            {% call render_tags(page.meta["tags"], index_url) %}
            {% endcall %}
        {% endif %}
        <p class="blog-post-description">{{ description }}</p>
    </div>
</a>
{{ caller() }}
{%- endmacro %}

{# Custom css, optional. #}
{% block style %}
{{ super() }}
<style>
    .md-typeset .blog-post-description {
        margin-bottom: 0;
    }
</style>
{% endblock %}
